<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入外部配置源-->
    <properties resource="database.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--让一级缓存的作用域变为当次查询-->
<!--        <setting name="localCacheScope" value="STATEMENT"/>-->
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--懒加载开关-->
<!--        <setting name="aggressiveLazyLoading" value="true"/>-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <!--类的别名-->
    <typeAliases>
        <!--会自动扫描指定包下面所有的javabean，javabean 的首字母小写的非限定类名来作为它的别名-->
<!--        <package name="com.danbro.pojo"/>-->
<!--        <package name="com.danbro.mapper"/>-->
        <!--给单个类取别名-->
<!--        <typeAlias type="com.danbro.aliasPojo.Person" alias="person"/>-->
        <typeAlias type="com.danbro.pojo.User" alias="User"/>
        <typeAlias type="com.danbro.pojo.Student" alias="Student"/>
        <typeAlias type="com.danbro.pojo.Teacher" alias="Teacher"/>
        <typeAlias type="com.danbro.pojo.Person" alias="Person"/>
        <typeAlias type="com.danbro.pojo.People" alias="People"/>
        <typeAlias type="com.danbro.pojo.Blog" alias="Blog"/>
        <typeAlias type="com.danbro.pojo.Comment" alias="Comment"/>
        <typeAlias type="com.danbro.pojo.Commenter" alias="Commenter"/>
        <typeAlias type="com.danbro.pojo.Author" alias="Author"/>
        <typeAlias type="com.danbro.pojo.Order" alias="Order"/>
        <typeAlias type="com.danbro.plugins.PageInterceptor" alias="PageInterceptor"/>
    </typeAliases>

    <typeHandlers>
        <!--使用自定义的typeHandler-->
        <typeHandler handler="com.danbro.typeHandlers.MyTypeHandler"/>
    </typeHandlers>

    <plugins>
        <plugin interceptor="PageInterceptor"/>
    </plugins>

    <!--多环境配置-->
    <environments default="test">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/StudentMapper.xml"/>
        <mapper resource="mapper/TeacherMapper.xml"/>
        <mapper resource="mapper/BlogMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/PersonMapper.xml"/>
<!--        <package name="com.danbro.mapper"/>-->
    </mappers>
</configuration>